[submodule "Externals/TouchXML"]
	path = Externals/TouchXML
	url = https://justindarc@github.com/digischool/TouchXML.git
[submodule "Externals/TouchFoundation"]
	path = Externals/TouchFoundation
	url = https://justindarc@github.com/digischool/TouchFoundation.git
