[submodule "Externals/TouchXML"]
	path = Externals/TouchXML
	url = git@github.com:TouchCode/TouchXML.git
[submodule "Externals/TouchFoundation"]
	path = Externals/TouchFoundation
	url = git@github.com:TouchCode/TouchFoundation.git
